---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import adidasForum from "../images/caballero/adidasForum.jpg"
import af1negro2 from "../images/caballero/af1negro2.jpg"
import AirForce1blanco from "../images/caballero/AirForce1blanco.jpg"
import jordanR10 from "../images/caballero/JordanR10.jpg"
import jordanretronegro from "../images/caballero/jordanretronegro.jpg"
import jordanretrorojo from "../images/caballero/jordanretrorojo.jpg"
import pumaair from "../images/caballero/pumaair.jpg"
import pumabmwAzul from "../images/caballero/pumabmwAzul.jpg"
import pumanegros from "../images/caballero/pumanegros.jpg"
import pumaromablancos from "../images/caballero/pumaromablancos.jpg"
import pumaromanegro from "../images/caballero/pumaromanegro.jpg"
import pumavmwblanco from "../images/caballero/pumavmwBlanco.jpg"
import jordan6 from "../images/caballero/jordan6.jpg"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Caballero</title>
	</head>
	<body>
		<Header />

		<h1>Caballero</h1>
		<div class="todos-productos">
			<div class="productos">
				<Image
					class="imagen-producto"
					src={adidasForum}
					alt="Adidas Forum"
				/>
				<h2>Adidas Forum</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={af1negro2}
					alt="Air Force 1 Negro"
				/>
				<h2>Air Force 1 Negro</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={AirForce1blanco}
					alt="Air Force 1 Blanco"
				/>
				<h2>Air Force 1 Blanco</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={jordanR10}
					alt="Jordan R10"
				/>
				<h2>Jordan R10</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={jordanretronegro}
					alt="Jordan Retro Negro"
				/>
				<h2>Jordan Retro Negro</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={jordanretrorojo}
					alt="Jordan Retro Rojo"
				/>
				<h2>Jordan Retro Rojo</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={pumaair}
					alt="Puma Air"
				/>
				<h2>Puma Air</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={pumabmwAzul}
					alt="Puma VMW Azul"
				/>
				<h2>Puma VMW Azul</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={pumanegros}
					alt="Puma"
				/>
				<h2>Puma</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={pumaromablancos}
					alt="Puma Roma"
				/>
				<h2>Puma Roma</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={pumaromanegro}
					alt="Puma Roma"
				/>
				<h2>Puma Roma</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={pumavmwblanco}
					alt="Puma VMW"
				/>
				<h2>Puma BMW</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={jordan6}
					alt="jordan 6"
				/>
				<h2>Jordan 6</h2>
			</div>
		</div>
		<Footer />
		<script>
			import "../scripts/menu.js";
		  </script>
	</body>
</html>
