---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import { Image } from "astro:assets";
import af1negro from "../images/infantil/af1negro.jpg"
import airForceBotaLatigo from "../images/infantil/airForce1BotaLatigo.jpg"
import converseClasico from "../images/infantil/converseClasico.jpg"
import conversePersonajes from "../images/infantil/conversePersonajes.jpg"
import dunkJunior from "../images/infantil/dunkJunior.jpg"
import jordanretronegro2 from "../images/infantil/jordanretronegro2.jpg"
import jordanretrorojo2 from "../images/infantil/jordanretrorojo2.jpg"
import nikeAF1led from "../images/infantil/nikeAF1led.jpg"
import nikeAF1led2 from "../images/infantil/nikeAF1led2.jpg"
import nikeJordanBota from "../images/infantil/nikeJordanBota.jpg"
import nikePersonajes from "../images/infantil/nikePersonajes.jpg"
import uptempoJunior from "../images/infantil/uptempoJunior.jpg"
import barbie from "../images/infantil/barbie.jpg"
import cr7 from "../images/infantil/cr7.jpg"
import futbolrapido from "../images/infantil/futbolRapido.jpg"
import furbolrapido2 from "../images/infantil/futbolRapido2.jpg"
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>CALZADO INFANTIL</title>
	</head>
	<body>
		<Header />
		<h1>CALZADO INFANTIL</h1>
		<h3>Algunos modelos los tenemos para entrega inmediata y otros sobre pedido</h3>
		<div class="todos-productos">
			<div class="productos">
				<Image
					class="imagen-producto"
					src={af1negro}
					alt="Air Force 1 Negro"
				/>
				<h2>Air Force 1 Negro</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={airForceBotaLatigo}
					alt="Air Force Bota Latigo"
				/>
				<h2>Air Force Bota Latigo</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={converseClasico}
					alt="Converse Clasico"
				/>
				<h2>Converse Clasico</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={conversePersonajes}
					alt="Converse Personajes"
				/>
				<h2>Converse Personajes</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={dunkJunior}
					alt="Nike Dunk Junior"
				/>
				<h2>Nike Dunk Junior</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={jordanretronegro2}
					alt="Jordan Retro Negro"
				/>
				<h2>Jordan Retro Negro</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={jordanretrorojo2}
					alt="Jordan Retro Rojo"
				/>
				<h2>Jordan Retro Rojo</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={nikeAF1led}
					alt="Nike Air Force 1 Led"
				/>
				<h2>Nike Air Force 1 Led</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={nikeAF1led2}
					alt="Nike Air Force 1 Led"
				/>
				<h2>Nike Air Force 1 Led</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={nikeJordanBota}
					alt="Nike Jodrdan Bota"
				/>
				<h2>Nike Jodrdan Bota</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={nikePersonajes}
					alt="Nike Personajes"
				/>
				<h2>Nike Personajes</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={uptempoJunior}
					alt="Nike Jordan Uptempo Junior"
				/>
				<h2>Jordan Uptempo Junior</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={barbie}
					alt="Barbie"
				/>
				<h2>Barbie</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={cr7}
					alt="CR7"
				/>
				<h2>CR7</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={futbolrapido}
					alt="futbol rapido"
				/>
				<h2>Futbol Rapido</h2>
			</div>
			<div class="productos">
				<Image
					class="imagen-producto"
					src={furbolrapido2}
					alt="futbol rapido"
				/>
				<h2>Futbol Rapido</h2>
			</div>
		</div>
		<Footer />
		<script>
			import "../scripts/menu.js";
		  </script>
	</body>
</html>

